
/*articles*/
.jtOtKF{
    display: none;
}

/*sidebar wide*/
.HHxdW{
    display: none;
}

/* volume discount */
.iuAZxj{
    display: none;
}

/* sidebar right */
.fVTcTg{
    display: none;
}

/* Language Toggle */
.lkKyCe{
    display: none !important;
}

footer{
    display: none !important;
}
