
/*articles*/
.jtOtKF{
    display: none;
}



/* volume discount */
.iuAZxj{
    display: none;
}

/* sidebar right */
.fVTcTg{
    display: none;
}

/* Language Toggle */
.lkKyCe{
    display: none !important;
}

footer{
    display: none !important;
}

/* Left sidebar clutter (except categories)*/
.jhbFah{
    display: none !important;
}